@page
@model Assignment3.Pages.Attendees.ListModel

<h1>Attendee List</h1>
@if (Model.Attendees == null || Model.Attendees.Count == 0)
{
    <h2>There is no attendee</h2>
}
else
{
    <div style="display:flex;justify-content:space-between">
        <h3>Attendee Count: @Model.Attendees.Count</h3>
        <a href="/Events/List" class="btn btn-sm btn-primary" style="margin-bottom:10px">Register An Event</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>No</th>
            <th>Event</th>
            <th>Attendee</th>
            <th>Email</th>
            <th>Registration</th>
        </tr>
        @{
            int count = 0;
        }
        @foreach (var a in Model.Attendees)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@(a.Event?.Title ?? "-")</td>
                <td>@a.Name</td>
                <td>@a.Email</td>
                <td>@a.RegistrationTime</td>
            </tr>
        }
    </table>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site.js"></script>